<div class="jumbotron">
    <h1 class="display-3">Nasil Calisir!</h1>
    <p class="lead">Çoklu oyuncu aktif lisans kontrolü yapan sistem, her oyuncu için hem profesyonel, hem amatör aktif lisans araması yapar</p>
    <hr class="my-4">
    <p>Arama sayfasına, csv foramtında oyuncu listesi eklenmelidir. Başlık satırı ad;soyad olmalıdır.</p>
    <p>Örnek bir arama:</p>
    <p>ad;soyad <br> Ahmet;Çalık <br> Burak;Hemşin
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Arama Yap</a>
    </p>
</div>